stages:
  - ctest
  
ubuntu:
  stage: ctest
  script: 
    - "scripts/selalib-ci.sh"
  only:
    - develop
  tags:
    - ubuntu
    
mavericks:
  stage: ctest
  script: 
    - "scripts/selalib-ci.sh"
  only:
    - develop
  tags:
    - osx
    
fedora:
  stage: ctest
  script: 
    - "scripts/fedora-ci.sh"
  only:
    - develop
  tags:
    - fedora
