# Mac OS X junk
.DS_Store
.AppleDouble

# Linux junk
*.orig
*.swp
*~
*.kate-swp
.unison
\#*\#

# Local port index file for MacPorts
Portindex*

# Tags databases
/src/tags

# Objects, libraries, modules and executables (for those who build in place..)
*.[oa]
*.so
*.mod
*.exe

# Output files (for those who run executables in place..)
*.h5
*.xmf

# Latex temporary files (for those who create documentation in place..)
*.aux
*.log
*.gz
*.toc
*.out

# PyCharm files
.idea/

# Python junk (bytecode, egg-info)
*.pyc
*.egg-info

# Automatic documentation
/doc/build/

# Default directories for build and install
/build/
/usr/


# Other stuff (to be removed?)
#prototype/release/*
#prototype/documentation/selalib_manual.aux
#prototype/documentation/selalib_manual.log
#prototype/documentation/selalib_manual.pdf
#prototype/documentation/selalib_manual.synctex.gz
#prototype/documentation/selalib_manual.toc
#prototype/src/fix-names.py
#prototype/intel_build/*
#prototype/doc/selalib_manual.pdf
#prototype/release_build/*
#
#.sconsign.dblite
#unit_test
ChangeLog
build*

jorek/

# Geometry input files generated automatically by Python script
src/add_ons/multipatch/testing/CAID_coordinate_transformations/circle_mp5_pts12/*.nml
src/add_ons/multipatch/testing/CAID_coordinate_transformations/square_mp1/*.nml
src/add_ons/multipatch/testing/CAID_coordinate_transformations/identity_mp1/*.nml
src/add_ons/multipatch/testing/CAID_coordinate_transformations/square_4p_n10/*.nml
src/add_ons/multipatch/testing/CAID_coordinate_transformations/circle_mp5_pts12/circle_mp5_pts12_local_to_global_patch2.nml
src/add_ons/multipatch/testing/CAID_coordinate_transformations/circle_mp5_pts12/circle_mp5_pts12_local_to_global_patch2.nml
src/add_ons/multipatch/testing/CAID_coordinate_transformations/circle_mp5_pts12/circle_mp5_pts12_local_to_global_patch3.nml
src/add_ons/multipatch/testing/CAID_coordinate_transformations/circle_mp5_pts12/circle_mp5_pts12_local_to_global_patch4.nml
src/add_ons/multipatch/testing/CAID_coordinate_transformations/circle_mp5_pts12/circle_mp5_pts12_patch0.nml
src/add_ons/multipatch/testing/CAID_coordinate_transformations/circle_mp5_pts12/circle_mp5_pts12_patch1.nml
src/add_ons/multipatch/testing/CAID_coordinate_transformations/circle_mp5_pts12/circle_mp5_pts12_patch2.nml
src/add_ons/multipatch/testing/CAID_coordinate_transformations/circle_mp5_pts12/circle_mp5_pts12_patch3.nml
src/add_ons/multipatch/testing/CAID_coordinate_transformations/circle_mp5_pts12/circle_mp5_pts12_patch4.nml
src/add_ons/multipatch/testing/CAID_coordinate_transformations/circle_mp5/circle_5mp_info.nml
src/add_ons/multipatch/testing/CAID_coordinate_transformations/circle_mp5/circle_5mp_patch0.nml
src/add_ons/multipatch/testing/CAID_coordinate_transformations/circle_mp5/circle_5mp_patch1.nml
src/add_ons/multipatch/testing/CAID_coordinate_transformations/circle_mp5/circle_5mp_patch2.nml
src/add_ons/multipatch/testing/CAID_coordinate_transformations/circle_mp5/circle_5mp_patch3.nml
src/add_ons/multipatch/testing/CAID_coordinate_transformations/circle_mp5/circle_5mp_patch4.nml
src/add_ons/multipatch/testing/CAID_coordinate_transformations/circle_ncells63_deg3/circle_n63_rayon1_info.nml
src/add_ons/multipatch/testing/CAID_coordinate_transformations/circle_ncells63_deg3/circle_n63_rayon1_patch0.nml
src/add_ons/multipatch/testing/CAID_coordinate_transformations/identity_mp/identity_mp_info.nml
src/add_ons/multipatch/testing/CAID_coordinate_transformations/identity_mp/identity_mp_patch0.nml
src/add_ons/multipatch/testing/CAID_coordinate_transformations/identity_mp/identity_mp_patch1.nml
src/add_ons/multipatch/testing/CAID_coordinate_transformations/identity_mp/identity_mp_patch2.nml
src/add_ons/multipatch/testing/CAID_coordinate_transformations/identity_mp/identity_mp_patch3.nml
src/add_ons/multipatch/testing/CAID_coordinate_transformations/identity_mp1/identity_mp1_element_connectivity_main.nml
src/add_ons/multipatch/testing/CAID_coordinate_transformations/identity_mp1/identity_mp1_info.nml
src/add_ons/multipatch/testing/CAID_coordinate_transformations/identity_mp1/identity_mp1_local_to_global_patch0.nml
src/add_ons/multipatch/testing/CAID_coordinate_transformations/identity_mp1/identity_mp1_patch0.nml
src/add_ons/multipatch/testing/CAID_coordinate_transformations/identity_mp2/identity_mp2_element_connectivity_main.nml
src/add_ons/multipatch/testing/CAID_coordinate_transformations/identity_mp2/identity_mp2_info.nml
src/add_ons/multipatch/testing/CAID_coordinate_transformations/identity_mp2/identity_mp2_local_indices_patch1.nml
src/add_ons/multipatch/testing/CAID_coordinate_transformations/identity_mp2/identity_mp2_local_indices_patch0.nml
src/add_ons/multipatch/testing/CAID_coordinate_transformations/identity_mp2/identity_mp2_local_to_global_patch0.nml
src/add_ons/multipatch/testing/CAID_coordinate_transformations/identity_mp2/identity_mp2_local_to_global_patch1.nml
src/add_ons/multipatch/testing/CAID_coordinate_transformations/identity_mp2/identity_mp2_patch0.nml
src/add_ons/multipatch/testing/CAID_coordinate_transformations/identity_mp2/identity_mp2_patch1.nml
src/add_ons/multipatch/testing/CAID_coordinate_transformations/identity/identity_info.nml
src/add_ons/multipatch/testing/CAID_coordinate_transformations/identity/identity_patch0.nml
src/add_ons/multipatch/testing/CAID_coordinate_transformations/mesh_collela/domain_info.nml
src/add_ons/multipatch/testing/CAID_coordinate_transformations/mesh_collela/domain_patch0.nml
src/add_ons/multipatch/testing/CAID_coordinate_transformations/mhdeq/mhdeq_info.nml
src/add_ons/multipatch/testing/CAID_coordinate_transformations/mhdeq/mhdeq_patch0.nml
src/add_ons/multipatch/testing/CAID_coordinate_transformations/square_4p_n10/square_4p_n10_element_connectivity_main.nml
src/add_ons/multipatch/testing/CAID_coordinate_transformations/square_4p_n10/square_4p_n10_info.nml
src/add_ons/multipatch/testing/CAID_coordinate_transformations/square_4p_n10/square_4p_n10_local_indices_patch0.nml
src/add_ons/multipatch/testing/CAID_coordinate_transformations/square_4p_n10/square_4p_n10_local_indices_patch1.nml
src/add_ons/multipatch/testing/CAID_coordinate_transformations/square_4p_n10/square_4p_n10_local_indices_patch3.nml
src/add_ons/multipatch/testing/CAID_coordinate_transformations/square_4p_n10/square_4p_n10_local_to_global_patch0.nml
src/add_ons/multipatch/testing/CAID_coordinate_transformations/square_4p_n10/square_4p_n10_local_to_global_patch3.nml
src/add_ons/multipatch/testing/CAID_coordinate_transformations/square_4p_n10/square_4p_n10_patch0.nml
src/add_ons/multipatch/testing/CAID_coordinate_transformations/square_mp1/square_mp1_element_connectivity_main.nml
src/add_ons/multipatch/testing/CAID_coordinate_transformations/square_mp1/square_mp1_info.nml
src/add_ons/multipatch/testing/CAID_coordinate_transformations/circle_mp5_pts12/circle_mp5_pts12_element_connectivity_main.nml
src/add_ons/multipatch/testing/CAID_coordinate_transformations/circle_mp5_pts12/circle_mp5_pts12_element_connectivity_main.nml
src/add_ons/multipatch/testing/CAID_coordinate_transformations/circle_mp5_pts12/circle_mp5_pts12_info.nml
src/add_ons/multipatch/testing/CAID_coordinate_transformations/circle_mp5_pts12/circle_mp5_pts12_local_indices_patch1.nml
src/add_ons/multipatch/testing/CAID_coordinate_transformations/circle_mp5_pts12/circle_mp5_pts12_local_indices_patch2.nml
src/add_ons/multipatch/testing/CAID_coordinate_transformations/circle_mp5_pts12/circle_mp5_pts12_local_indices_patch3.nml
src/add_ons/multipatch/testing/CAID_coordinate_transformations/square_mp1/square_mp1_patch0.nml
src/add_ons/multipatch/testing/CAID_coordinate_transformations/square_4p_n10/square_4p_n10_local_indices_patch2.nml
src/add_ons/multipatch/testing/CAID_coordinate_transformations/circle_mp5_pts12/circle_mp5_pts12_local_to_global_patch1.nml
src/add_ons/multipatch/testing/CAID_coordinate_transformations/circle_mp5_pts12/circle_mp5_pts12_local_to_global_patch0.nml
src/add_ons/multipatch/testing/CAID_coordinate_transformations/circle_mp5_pts12/circle_mp5_pts12_local_indices_patch0.nml
src/add_ons/multipatch/testing/CAID_coordinate_transformations/circle_mp5_pts12/circle_mp5_pts12_local_indices_patch4.nml

src/interfaces/mpi/mpi_errors.txt

src/interfaces/mpi/external_auto.F90

src/splines/sll_m_cubic_splines_pgi.F90
