stages:
  - build
  


ubuntu-mpich:
  stage: build
  script: 
    - "scripts/selalib-ci.sh"
  only:
    - develop
  tags:
    - ubuntu
    - mpich
    
mavericks-openmpi:
  stage: build
  script: 
    - "scripts/selalib-ci.sh"
  only:
    - develop
  tags:
    - osx
    - openmpi
    
mavericks-mpich:
  stage: build
  script: 
    - "scripts/selalib-ci.sh"
  only:
    - develop
  tags:
    - osx
    - mpich    
    
fedora-openmpi:
  stage: build
  script: 
    - "scripts/fedora-openmpi-ci.sh"
  only:
    - develop
  tags:
    - fedora
    - openmpi

fedora-mpich:
  stage: build
  script: 
    - "scripts/fedora-mpich-ci.sh"
  only:
    - develop
  tags:
    - fedora
    - mpich

intel-impi:
  stage: build
  script:
    - "scripts/intel16-build.sh"
  only:
    - develop
  tags:
    - intel
    
#ubuntu-openmpi:
#  tags:
#    - ubuntu
#    - openmpi
#  stage: build
#  script: 
#    - "scripts/selalib-ci.sh"
#  only:
#    - develop
  
