*.[oa]
*.mod
*~
.sconsign.dblite
unit_test
*.swp
*.h5
*.xmf
*.exe
.DS_Store
ChangeLog
.AppleDouble
build*
_build
latex
html
usr
Portindex*
*.out
prototype/src/coordinate_transformations/circle_5mp_info.nml
prototype/src/coordinate_transformations_multipatch/identity_mp_info.nml
prototype/src/coordinate_transformations_multipatch/identity_mp_patch0.nml
prototype/src/coordinate_transformations_multipatch/identity_mp_patch1.nml
prototype/src/CAID_coordinate_transformations/circle_mp5/circle_5mp_info.nml
prototype/src/CAID_coordinate_transformations/circle_mp5/circle_5mp_info.nml
prototype/src/CAID_coordinate_transformations/circle_mp5/circle_5mp_patch0.nml
prototype/src/CAID_coordinate_transformations/circle_mp5/circle_5mp_patch1.nml
prototype/src/CAID_coordinate_transformations/circle_mp5/circle_5mp_patch2.nml
prototype/src/CAID_coordinate_transformations/circle_mp5/circle_5mp_patch3.nml
prototype/src/CAID_coordinate_transformations/circle_mp5/circle_5mp_patch4.nml
prototype/src/CAID_coordinate_transformations/circle_ncells63_deg3/circle_n63_rayon1_info.nml
prototype/src/CAID_coordinate_transformations/circle_ncells63_deg3/circle_n63_rayon1_patch0.nml
prototype/src/CAID_coordinate_transformations/identity/identity_info.nml
prototype/src/CAID_coordinate_transformations/identity/identity_patch0.nml
prototype/src/CAID_coordinate_transformations/identity_mp/identity_mp_info.nml
prototype/src/CAID_coordinate_transformations/identity_mp/identity_mp_patch0.nml
prototype/src/CAID_coordinate_transformations/identity_mp/identity_mp_patch1.nml
prototype/src/CAID_coordinate_transformations/identity_mp/identity_mp_patch2.nml
prototype/src/CAID_coordinate_transformations/identity_mp/identity_mp_patch3.nml
prototype/src/CAID_coordinate_transformations/mhdeq/mhdeq_info.nml
prototype/src/CAID_coordinate_transformations/mhdeq/mhdeq_patch0.nml
prototype/src/CAID_coordinate_transformations/square_4p_n10/square_4p_n10_info.nml
prototype/src/CAID_coordinate_transformations/square_4p_n10/square_4p_n10_patch0.nml
prototype/src/CAID_coordinate_transformations/square_4p_n10/square_4p_n10_patch1.nml
prototype/src/CAID_coordinate_transformations/square_4p_n10/square_4p_n10_patch2.nml
prototype/src/CAID_coordinate_transformations/square_4p_n10/square_4p_n10_patch3.nml
prototype/src/coordinate_transformations_multipatch/identity_mp_patch2.nml
prototype/src/coordinate_transformations_multipatch/identity_mp_patch3.nml

prototype/src/CAID_coordinate_transformations/square_4p_n10/square_4p_n10_element_connectivity_main.nml

prototype/src/CAID_coordinate_transformations/square_4p_n10/square_4p_n10_local_indices_patch0.nml

prototype/src/CAID_coordinate_transformations/square_4p_n10/square_4p_n10_local_indices_patch1.nml

prototype/src/CAID_coordinate_transformations/square_4p_n10/square_4p_n10_local_indices_patch2.nml

prototype/src/CAID_coordinate_transformations/square_4p_n10/square_4p_n10_local_indices_patch3.nml

prototype/src/CAID_coordinate_transformations/square_4p_n10/square_4p_n10_local_to_global_patch0.nml

prototype/src/CAID_coordinate_transformations/square_4p_n10/square_4p_n10_local_to_global_patch1.nml

prototype/src/CAID_coordinate_transformations/square_4p_n10/square_4p_n10_local_to_global_patch2.nml

prototype/src/CAID_coordinate_transformations/square_4p_n10/square_4p_n10_local_to_global_patch3.nml
