Benedikt Perse <benedikt.perse@ipp.mpg.de> <benedikt@ipp.mpg.de> 
Benedikt Perse <benedikt.perse@ipp.mpg.de> <benedikt.perse1@gmail.com>
Christophe Steiner <christophe.steiner@math.unistra.fr> <steiner@irma-hpc2.u-strasbg.fr>
Katharina Kormann <katharina.kormann@tum.de> <katharina.kormann@it.uu.se> 
Katharina Kormann <katharina.kormann@tum.de> <kkormann@users.noreply.github.com>
Pierre Navaro <navaro@math.cnrs.fr> <pnavaro@users.noreply.github.com> 
Pierre Navaro <navaro@math.cnrs.fr> <pierre.navaro@math.cnrs.fr>
Samuel De Santis <samuel.desantis@math.unistra.fr> <desantis@math.unistra.fr>
